.bg-global {
  background-color: rgb(67, 9, 70) !important;
  color: #fff !important;
}

/* INI cabecera */
  .custom-nav {
    height: 5rem;
    background-color: rgb(67, 9, 70);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar-brand img {
    height: 14rem; /* Ajusta la altura del logo si es necesario */
    /*border: 1px red solid;*/
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-nav .nav-item {
    padding: 0 15px;
  }

  .img-logo {
    background-color: rgb(67, 9, 70);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* END cabecera */
  
  .footer-box {
    background-color: rgb(67, 9, 70);
  }

  .card-banner {
    border: none;
  }

  /* INI: tiping */
  h1 {
    display: block;
    color: rgb(67, 9, 70);
    font-family: 'Courier New', Courier, monospace;
    white-space:nowrap;
    border-right: 4px solid;
    margin: auto;
    text-align: center;
    font-weight: 600;
    

    /* animation */
    /*animation: typing 2s steps(phpini), blink .5s infinite step-end alternate;*/
    overflow: hidden;
   }
   

    @keyframes typing {
    from { width: 0} 
    }

    @keyframes blink {
    50% {border-color: transparent}
    }

    @media (max-width: 1250px) {
      h1 {
        font-size: 0.8rem;
      }
    }
    /* END: tiping */